*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1E2538;
}
a{
    text-decoration: 0;
}
img{
    max-width: 100%;
}
header{
    .header{
        height: 56px;
        display: flex;
        .left{
        nav{
            display: flex;
        }
        }
        .center{
            display: flex;
        }
        .right{
            display: flex;
        }
        .login {
            border: 0;
            box-shadow: 0px 0px 15px 0px #4871FFCC;
            background: #3657CB;
            font-size: 16px;
            font-weight: 700;
            color: #fff;
            padding: 13px 40px;
            border-radius: 10px;
            cursor: pointer;
            transition: all 0.3s ease;
        }
        .login:hover {
            background: #2a47a7;
            box-shadow: 0px 0px 20px 0px #4871FFCC;
            transform: scale(1.05);
        }
    }

}
.container{
    width: 1200px;
    margin: 0 auto;
}

.backdrop {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    background: url() no-repeat center / cover;
    opacity: 0.5;
    z-index: -1;
    transition: .5s ease;
}

.backdrop::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    background: linear-gradient(180deg, rgba(211, 156, 85, 0) 0%, rgba(30, 37, 56, 1) 90%);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 20px;

    & nav {
        display: flex;
        gap: 22px;

        & a {
            font-family: 'Qanelas Medium';
            color: #fff;
            text-decoration: 0;
        }
    }

    .tools {
        display: flex;
        gap: 10px;

        .search_btn {
            background-color: #fff;
            border: 0;
            border-radius: 10px;
            padding: 0px 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: .3s ease;
        }


        .search_btn:hover {
            background-color: #c9ef72;
            scale: 1.05;
        }

        .login {
            border: 0;
            box-shadow: 0px 0px 15px 0px #4871FFCC;
            background: #3657CB;
            font-size: 16px;
            font-weight: 700;
            color: #fff;
            padding: 13px 40px;
            border-radius: 10px;
            cursor: pointer;
        }
    }
}

.now{
    .now_playing_top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;

        & h1 {
            font-family: 'Qanelas Bold';
            font-size: 60px;
            font-weight: 900;
            color: white;
        }

        .hr {
            height: 2px;
            width: 50px;
            background-color: #fff;
        }

        .genres {
            display: flex;
            gap: 20px;
            overflow-x: auto;
            scrollbar-width: none;
            text-wrap: nowrap;
            max-width: 700px;

            .genre {
                color: #979797;
                cursor: pointer;
                transition: .4s ease;
            }

            .genre_active {
                color: #ffffff;
                cursor: pointer;
                scale: 1.1;
            }
        }
    }

    .now_playing {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 33px 23px;

        .movie_card {
            position: relative;
            cursor: pointer;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            &:hover {
                transform: scale(1.05);
                box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
            }

            .movie_poster {
                border-radius: 10px;
                width: 100%;
                height: 400px;
            }

            .score {
                position: absolute;
                top: 12px;
                right: 12px;
                padding: 3px 10px;
                border-radius: 5px;
                background-color: #89CB36;
                color: white;

                & span {
                    font-size: 14px;
                }
            }

            .movie_name {
                margin-bottom: 5px;
                font-size: 16px;
                color: white;
            }

            .genres {
                color: #F2F60F;
                font-family: 'Qanelas Thin';
            }
        }
    }


    .now_playing_show_more {
        border: 2px solid #fff;
        background: 0;
        border-radius: 10px;
        font-size: 16px;
        padding: 10px 20px;
        margin: 30px auto;
        cursor: pointer;
        transition: .3s ease;
        color: white;
    }

    .now_playing_show_more:hover {
        background-color: #fff;
        color: #000;
    }
}

.trailer{
    .trailers {
        display: flex;
        gap: 20px;
        overflow: auto;
        scrollbar-width: none; 
    
        .trailer-item {
            width: 320px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 10px;
            box-sizing: border-box;
            border-radius: 10px;
            height: 100%;
            position: relative;
    
            img {
                max-width: 320px;
                height: 280px;
                background-size: cover;
                background-position: center;
                position: relative;
                border-radius: 10px;
    

            }
            .play {
                position: absolute;
                bottom: 55%;
                right: 50%;
                width: 40px;

            
                cursor: pointer;
            }
    
            h3 {
                font-family: Qanelas;
                font-size: 20px;
                font-weight: 900;
                line-height: 25.48px;
                text-align: center;
                color: white;
                margin: 10px 0 0 0;
            }
        }
    }
    .trailer-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1{
            font-family: Qanelas;
            font-size: 65px;
            font-weight: 900;
            line-height: 82.81px;
            color: white;
        }
        button{
            background: none;
            border: 0;
            color: white;
        }
    }
    .traler-name{
        margin: 26px 0 46px 0;
        h3{
            color: #FFFFFF;
            font-family: Qanelas;
            font-size: 45px;
            font-weight: 900;
            line-height: 57.33px;           
        }

    }
}

.popular{
    .popular-top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;

        & h1 {
            font-family: 'Qanelas Bold';
            font-size: 60px;
            font-weight: 900;
            color: white;
        }

        .hr {
            height: 2px;
            width: 50px;
            background-color: #fff;
        }
        .years {
            display: flex;
            gap: 20px;

            .year {
                color: #979797;
                cursor: pointer;
                transition: .4s ease;
            }

            .year_active {
                color: #ffffff;
                cursor: pointer;
                scale: 1.1;
            }
        }
    }
    .popular-playing{
        display: flex;
        gap: 33px 23px;
        .movie_card {
            position: relative;
            cursor: pointer;
            transition: transform 0.3s ease, box-shadow 0.3s ease;

            &:hover {
                transform: scale(1.05);
                box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
            }

            .movie_poster {
                border-radius: 10px;
                width: 100%;
                height: 400px;
            }

            .score {
                position: absolute;
                top: 12px;
                right: 12px;
                padding: 3px 10px;
                border-radius: 5px;
                background-color: #89CB36;
                color: white;

                & span {
                    font-size: 14px;
                }
            }

            .movie_name {
                margin-bottom: 5px;
                font-size: 16px;
                color: white;
            }

        }

    }
}

.pop-persons{
    h1{
        font-family: 'Qanelas Bold';
        font-size: 60px;
        font-weight: 900;
        color: white;
        margin-bottom: 30px; 
    }
    .person-box{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        .person-cont{
            display: flex;
            gap: 20px;
        }

        .person{
                position: relative;
                img{
                    width: 100%;
                    height: 444px;

                }
            
            .person-info{
                display: flex;
                flex-direction: column;
                gap: 10px;
                bottom: 10%;
                left: 10%;
                position: absolute;
                h3{
                    font-family: Qanelas;
                    font-size: 27px;
                    font-weight: 700;
                    line-height: 33.45px;
                    color: white;
                }
                p{
                    font-family: Qanelas;
                    font-size: 15px;
                    font-weight: 500;
                    line-height: 20px;
                    color: #F2F60F;                   
                }
            }
        }
        .person-tab{
            background: #1B2133;
            border-radius: 12px;
            padding: 10px;
            overflow: auto;
            height: 444px;
            scrollbar-width: none;
            .actor{
                display: flex;
                justify-content: space-between;
                border: 1px,  solid, #1E2538;
                border-top: 0;
                border-right: 0;
                border-left: 0;
                .left{
                    // flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding-bottom: 20px;
                    h3{
                        font-family: Qanelas;
                        font-size: 27px;
                        font-weight: 700;
                        line-height: 33.45px;
                        color: white;
                    }
                    p{
                        font-family: Qanelas;
                        font-size: 15px;
                        font-weight: 500;
                        line-height: 20px;
                        color: #F2F60F;                   
                    }
                }
                .right{
                    display: flex;
                    align-items: center;
                    p{
                        width: 75.62px;
                        height: 19.45px;
                        top: 3970.77px;
                        left: 1570.52px;
                        gap: 0px;
                        opacity: 0px;
                        color: #F2F60F;
                    }
                }
            }
        }
    }
}

.search_wrap {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #151a26aa;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;

    .search_box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        padding: 10px;
        background-color: #fff;
        margin-top: 20px;
        border-radius: 10px;
        height: fit-content;
        position: relative;


        .logo_serach {
            background-color: #F2F60F;
            border-radius: 7px;
            padding: 12px 13px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        & input {
            border: 0;
            outline: 0;
            width: 80%;
            font-size: 20px;
            color: #000;
        }
    }

    & button {
        width: fit-content;
        height: fit-content;
        padding: 15px;
        border-radius: 5px;
        border: 0;
        // margin-top: 20px;
        background: 0;
        // display: flex;
        // align-items: center;
        // justify-content: center;
        cursor: pointer;
        // margin-left: 15px;
        // text-align: center;
        position: absolute;
        top: -5px;
        right: -60px;
    }

    .results {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 70%;
        overflow-y: scroll;
        text-decoration: none;

                .res_movie_card {
                    text-decoration: none;
                    padding: 15px 50px 15px 10px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    background-color: #1E2538;
                    border-radius: 10px;
                    height: 130px;

                    .left_movie {
                        display: flex;
                        // align-items: center;
                        gap: 16px;

                        & img {
                            border-radius: 5px;
                            width: 80px;
                        }

                        .res_movie_info {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            gap: 5px;

                            .res_movie_name {
                                font-size: 18px;
                            }
                            .res_movie_name_orig {
                                font-size: 16px;
                                font-family: 'Qanelas Thin';
                            }
                            .res_movie_date {
                                font-family: 'Qanelas Thin';
                                font-size: 15px;
                                color: #F2F60F;
                            }
                        } 
                    }

                    .res_movie_rate {
                        height: fit-content;
                        padding: 5px 14px ;
                        border-radius: 5px;
                        background-color: #89CB36;
                        font-size: 18px;
                    }
                }
            
        }

        .person_results {
            & h2 {
                margin-top: 20px;
                margin-bottom: 20px;
            }

            .person_res_wrap {
                display: flex;
                flex-direction: column;
                gap: 15px;

                .res_person_card {
                    text-decoration: none;
                    padding: 15px 50px 15px 10px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    background-color: #1E2538;
                    border-radius: 10px;
                    height: 130px;

                    .left_person {
                        display: flex;
                        // align-items: center;
                        gap: 16px;

                        & img {
                            border-radius: 5px;
                            width: 80px;
                        }

                        .res_person_info {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            gap: 5px;

                            .res_person_name {
                                font-size: 18px;
                            }
                            .res_person_name_orig {
                                font-size: 16px;
                                font-family: 'Qanelas Thin';
                            }
                            .res_person_job {
                                font-family: 'Qanelas Thin';
                                font-size: 15px;
                                color: #F2F60F;
                            }
                        } 
                    }

                    .res_person_rate {
                        height: fit-content;
                        padding: 5px 14px ;
                        border-radius: 5px;
                        background-color: #89CB36;
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .results::-webkit-scrollbar {
        // height: 8px;
        width: 10px;
        position: absolute;
        background-color: #1B2133;
    }

    .results::-webkit-scrollbar-thumb {
        border-radius: 10px;
        // height: 8px;
        width: 12px;
        background-color: rgba(52, 86, 255, 0.75);
    }

    .results::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        // height: 8px;
        width: 10px;
        background-color: #1B2133;
    }


.invisible {
    display: none;
    opacity: 0;
}
.slider-buttons{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    button{
        background: 0;
        color: white;
        width: 30px;
        height: 30px;
    }
}

.swiper-button-next, .swiper-button-prev {
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }

.play {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 40px;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0.8;
    &:hover{
        transform: translate(-50%, -50%) scale(1.1);
        opacity: 1;
    }
}